.imgInicial {
  width: 100%;
  height: auto;
  margin: 0;

}

.imgFooter {
  width: 70%;
  height: auto;
}

.containerInicial {

  width: 100%;
  margin: 0;
  height: auto;
}


.seccion {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  text-align: center;
  color: white;
  justify-content: center;
  margin: 0;
  background-repeat: repeat-y;
  margin-bottom: 100px;
}


.containerFooter {

  width: 100%;
  margin: 0;
  height: auto;
  margin-top: 50px;
  text-shadow: 2px 2px 4px #333333;

}


h1 {
  margin: 0;
  margin-bottom: 30px;
  text-shadow: 2px 2px 4px #333333;
}
