body {
  margin: 0;
  border-image-slice: 27 27 27 27;
  border-image-width: 15px 15px 15px 15px;
  border-image-outset: 0px 0px 0px 0px;
  border-image-repeat: stretch stretch;
  border-image-source: url('assets/borderBody.png');
  border-style: solid;
  background-image: url('assets/fondo.png');
}
